<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeEditForm" (ngSubmit)="OnSubmit()">
            <div class="form-group">
                <label for="name">Name</label>
                <input 
                type="text" 
                id="name" 
                class="form-control" 
                formControlName="name"
                >
            </div>
            <div class="form-group">
                <label for="imageUrl">Image URL</label>
                <input type="text" name="imageUrl" id="imageUrl" class="form-control" #imageUrlRef
                formControlName="imageUrl">
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img [src]="imageUrlRef.value" class="img-responsive">
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="3" class="form-control"
                formControlName="description"></textarea>
            </div>
            <div class="form-group" formArrayName="ingredients">
                <label for="ingredients">Ingredients</label>
                <div class="row" [formGroupName]="i" 
                *ngFor="let ingredientctl of recipeEditForm.get('ingredients').controls; let i = index"
                style="margin-top: 10px;">
                    <div class="col-xs-8">
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div class="col-xs-2">
                        <input type="number" class="form-control" formControlName="amount">
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-danger" type="button" (click)= "onDeleteIngredient(i)">X</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-success" (click)="addIngredient()" type="button">Add Ingredient</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary" type="submit" [disabled]="recipeEditForm.invalid" style="margin-right: 10px">Submit</button>
                    <button class="btn btn-danger" type="button" (click)="OnCancelClicked()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>