<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <!--<div class="row" *ngIf="errorMessage">
            <div class="col-xs-12">
                <span class="alert alert-danger">{{errorMessage}}</span>
            </div>
        </div>
        -->
        <app-alert [message]="errorMessage" (closeAlert)="OnCloseAlert()"></app-alert>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <form #loginForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email" class="form-control" ngModel required email>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control" ngModel required minlength="6">
                    </div>
                    <div>
                        <button class="btn btn-primary" type= "submit" [disabled]="loginForm.invalid"> {{ isLoginMode ?  'Sign in' : 'Sign up'}}</button> | 
                        <button class="btn btn-primary" type="button" (click)="switchLoginMode()">{{ isLoginMode ?  'Switch to Sign up' : 'Switch to Sign in'}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>